body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  position: relative;
  font-family: "Roboto", sans-serif;
}

.main {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 100px;
  height: 200px;
  width: 700px;
  text-align: center;
  align-items: center;
}

.main #title {
  font-size: 1.5rem;
  font-weight: 500;
  color: rgba(128, 128, 128, 0.815);
   
}

.main #search {
  border: none;
  border-bottom: 2px solid black;
  font-size: 1.5rem;
  width: 110px;
  text-align: center;
}

.main #search:focus {
  border: none;
  outline: none;
  border-bottom: 2px solid black;
}

.whether-Data {
  display: flex;
  height: 90%;
  width: 100%;
  display: flex;
  min-height: 200px;
}

.whether-Data div {
  width: 33%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.temprature-para {
  font-size: 110px;
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  display: flex;
}

.temprature-para span {
  font-size: 60px;
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  color: rgba(128, 128, 128, 0.815);
  margin-top: 60px;
  text-align: left;
}

#wheather-icon {
  width: 150px;
}

.otherData {
  display: flex;
  flex-direction: column;
  font-size: 25px;
  color: rgba(128, 128, 128, 0.815);
  justify-content: center;
  align-items: center;
}

.otherData p {
  height: 5px;
  text-align: center;
  display: flex;
  justify-content: center;
  gap: 5px;
  width: 150px;
}

.fa-solid {
  font-size: 30px;
  color: rgba(128, 128, 128, 0.815);
  margin-right: auto;
}

.span-feels-like {
  font-size: 12px;
  margin-top: 10px;
}

.span-wind {
  font-size: 20px;
  margin-top: 5px;
  margin-right: auto;
}

.span-humidity {
  font-size: 20px;
  margin-top: 5px;
  margin-right: auto;
}

.toggle{
   
    display: flex;
    width: 90px;
    height: 30px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.toggle > div{
    font-size: 15px;
    
}
.toggle div:first-child{
   
    width: 50%;
    height: 30px;
    border: none;
}

.toggle div:nth-child(2){
    border-left: 1px solid black;
    width: 50%;
    height: 30px;
}

.toggle p{
    font-size: 15px;
    margin-top:5px;
}

.toggle p:hover{
    font-size: 15px;
    margin-top:5px;
    color: rgba(128, 128, 128, 0.815);
}
