body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    position: relative;
    font-family: 'Roboto', sans-serif;
}

.main{
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 100px;
    height: 300px;
    width: 800px;
    border: 1px solid red;
    text-align: center;
}

.main #title{
    font-size: 1.5rem;
    font-weight: 500;
    color: rgba(128, 128, 128, 0.815);
    

}

.main #search{
    border: none;
    border-bottom: 2px solid black;
    font-size: 1.5rem;
    width: 110px;
    text-align: center;
}

.main #search:focus{
    border: none;
    outline: none;
    border-bottom: 2px solid black;

   
}

.whether-Data{
    display: flex;
    border: 1px solid red;
    height: 100%;
    width: 100%;
    display: flex;
    min-height: 200px;
}

.whether-Data div{
    border: 1px red solid;
    width: 33%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.temprature-para{
    font-size:110px;
    font-family: 'Poppins', sans-serif;
    font-weight: 100;
    display: flex;
}

.temprature-para span{
    font-size:60px;
    font-family: 'Poppins', sans-serif;
    font-weight: 100;
    color: rgba(128, 128, 128, 0.815);
    margin-top: 60px;
    text-align: left;
}

#wheather-icon{
    width: 150px;
}